# Pandas

In [12]:
import numpy as np

with open ("/Users/karim/PycharmProjects/JupyterProject1/hello.txt","r") as file1:
    file_data=file1.read()
    print(file_data)

hello
my name is karim
1234
#!@$%^&*
9999999

In [21]:
with open ("/Users/karim/PycharmProjects/JupyterProject1/hello.txt","r") as file1:
    file_data=file1.readlines()
    print(file_data)
    print(file_data[1])
    print(file_data[4])
    print(file_data[3])

['hello\n', 'my name is karim\n', '1234\n', '#!@$%^&*\n', '9999999']
my name is karim

9999999
#!@$%^&*

In [32]:
with open ("/Users/karim/PycharmProjects/JupyterProject1/hello.txt","w") as file1:
    file_data=file1.write("New World!")

with open ("/Users/karim/PycharmProjects/JupyterProject1/hello.txt","r") as file2:
    file2_data=file2.readlines()
    print(file_data)

10

In [33]:
with open ("/Users/karim/PycharmProjects/JupyterProject1/hello.txt","a") as file1:
    file_data=file1.write("\nHello World!")

In [52]:
import pandas as pd
df = pd.read_csv("/Users/karim/Downloads/color_srgb.csv")
df

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime  #00FF00      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [53]:
df = pd.read_csv("/Users/karim/Downloads/color_srgb.csv",index_col=0)
df

             HEX               RGB
Name
White    #FFFFFF  rgb(100,100,100)
Silver   #C0C0C0     rgb(75,75,75)
Gray     #808080     rgb(50,50,50)
Black    #000000        rgb(0,0,0)
Red      #FF0000      rgb(100,0,0)
Maroon   #800000       rgb(50,0,0)
Yellow   #FFFF00    rgb(100,100,0)
Olive    #808000      rgb(50,50,0)
Lime     #00FF00      rgb(0,100,0)
Green    #008000       rgb(0,50,0)
Aqua     #00FFFF    rgb(0,100,100)
Teal     #008080      rgb(0,50,50)
Blue     #0000FF      rgb(0,0,100)
Navy     #000080       rgb(0,0,50)
Fuchsia  #FF00FF    rgb(100,0,100)
Purple   #800080      rgb(50,0,50)

In [54]:
df = pd.read_csv("/Users/karim/Downloads/color_srgb.csv")
df

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime  #00FF00      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [55]:
df.to_csv("color_sr_to.csv")
df.to_excel("color_sr_to.xlsx")

In [ ]:
# firs 5 rows from color_sr
df.head()

In [93]:
df.tail()

       Name      HEX             RGB
11     Teal  #008080    rgb(0,50,50)
12     Blue  #0000FF    rgb(0,0,100)
13     Navy  #000080     rgb(0,0,50)
14  Fuchsia  #FF00FF  rgb(100,0,100)
15   Purple  #800080    rgb(50,0,50)

In [57]:
df["HEX"]

0     #FFFFFF
1     #C0C0C0
2     #808080
3     #000000
4     #FF0000
5     #800000
6     #FFFF00
7     #808000
8     #00FF00
9     #008000
10    #00FFFF
11    #008080
12    #0000FF
13    #000080
14    #FF00FF
15    #800080
Name: HEX, dtype: object

In [58]:
df["HEX"].unique()

array(['#FFFFFF', '#C0C0C0', '#808080', '#000000', '#FF0000', '#800000',
       '#FFFF00', '#808000', '#00FF00', '#008000', '#00FFFF', '#008080',
       '#0000FF', '#000080', '#FF00FF', '#800080'], dtype=object)

In [ ]:
# first 5 and last 3
df

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.describe(include="object")

In [85]:
print(df.to_string())

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime  #00FF00      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum().sum()

In [89]:
df.value_counts()

Name     HEX      RGB
Aqua     #00FFFF  rgb(0,100,100)      1
Black    #000000  rgb(0,0,0)          1
Blue     #0000FF  rgb(0,0,100)        1
Fuchsia  #FF00FF  rgb(100,0,100)      1
Gray     #808080  rgb(50,50,50)       1
Green    #008000  rgb(0,50,0)         1
Lime     #00FF00  rgb(0,100,0)        1
Maroon   #800000  rgb(50,0,0)         1
Navy     #000080  rgb(0,0,50)         1
Olive    #808000  rgb(50,50,0)        1
Purple   #800080  rgb(50,0,50)        1
Red      #FF0000  rgb(100,0,0)        1
Silver   #C0C0C0  rgb(75,75,75)       1
Teal     #008080  rgb(0,50,50)        1
White    #FFFFFF  rgb(100,100,100)    1
Yellow   #FFFF00  rgb(100,100,0)      1
Name: count, dtype: int64

In [ ]:
df.nunique()

In [91]:
df.dropna()

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime  #00FF00      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [61]:
df.loc[2,"Name"]

'Gray'

In [62]:
df.loc[6,"RGB"]

'rgb(100,100,0)'

In [64]:
df.loc[0:2,"Name"]

0     White
1    Silver
2      Gray
Name: Name, dtype: object

In [65]:
# in loc it takes the whole range but in iloc it takes the whole rangeexcept thelast as normal
df.loc[0:5,"Name": "RGB"]

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray  #808080     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)
5  Maroon  #800000       rgb(50,0,0)

In [66]:
df.iloc[2,2]

'rgb(50,50,50)'

In [67]:
df.iloc[6,0]

'Yellow'

In [69]:
# in loc it takes the whole range but in iloc it takes the whole range except thelast as normal
df.iloc[0:2,1]

0    #FFFFFF
1    #C0C0C0
Name: HEX, dtype: object

In [71]:
df.iloc[3:5,0:2]

    Name      HEX
3  Black  #000000
4    Red  #FF0000

In [72]:
dic = {"name":["ahmed",'sara','karim','nour'],"Grade":["B+","A","A+","c"]}

In [73]:
df1=pd.DataFrame(dic)

In [74]:
df1

    name Grade
0  ahmed    B+
1   sara     A
2  karim    A+
3   nour     c

In [ ]:
df1.to_csv("grades.csv")
df1.to_excel("grades.xlsx")